<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <h1>Welcome, <span th:text="${userName}"></span></h1>
    <nav>
        <ul>
            <li><a href="/api/v1/student/logout">Logout</a></li>
            <li><a href="/api/v1/student/dashboard/{id}">Dashboard</a></li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <h2>Student Benefits</h2>
        <div>
            <p>Skill Milestones: <span th:text="${studentBenefits.skillMilestones}"></span></p>
            <p>Completed Tasks: <span th:text="${studentBenefits.completedTasks}"></span></p>
            <p>Number of Absences: <span th:text="${studentBenefits.numberOfAbsences}"></span></p>
        </div>
    </section>

    <section>
        <h2>Assigned Tasks</h2>
        <div>
            <ul>
                <li th:each="task : ${assignedTasks}">
                    <p>Task: <span th:text="${task.task_title}"></span></p>
                    <p>Status: <span th:text="${task.taskStatus}"></span></p>
                </li>
            </ul>
        </div>
    </section>

    <section>
        <h2>Achievements</h2>
        <div>
            <ul>
                <li th:each="achievement : ${achievements}">
                    <p>Title: <span th:text="${achievement.title}"></span></p>
                    <p>Duration: <span th:text="${achievement.duration}"></span></p>
                    <p>Description: <span th:text="${achievement.description}"></span></p>
                    <img th:src="${achievement.badgeImageUrl}" alt="Badge Image">
                </li>
            </ul>
        </div>
    </section>

    <section>
        <h2>New Projects</h2>
        <div>
            <ul>
                <li th:each="project : ${newProjects}">
                    <p>Project Title: <span th:text="${project.title}"></span></p>
                    <p>Requirements: <span th:text="${project.requirements}"></span></p>
                </li>
            </ul>
        </div>
    </section>
</main>

</body>
</html>
